@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  font-family: "Noto Sans", sans-serif;
  padding-left: 90px;
  padding-top: 60px;
}
