.second-sec {
  margin-top: 20px;
  margin-left: 12px;
  height: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  text-wrap: nowrap;
}

.second-sec button {
  font-family: "Noto Sans", sans-serif;
  font-size: 14px;
  font-weight: 550;
  border: none;
  padding: 7px 12px;
  border-radius: 10px;
  background-color: rgb(245, 242, 242);
}

.second-sec button:active {
  background-color: black;
  color: white;
}
